<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All the blogs</h1> 
    <%if(locals.allPost){%>   
        <%allPost.forEach(value=>{%>            
            <%if(value.blog){%>
                <h2>Blog by:<%=value.username%></h2>
                <% value.blog.forEach((data,index)=>{%>                    
                    <h1><%=data.title%></h1>
                    <img src="<%=data.src%>" width="150px" height="100px"/>
                    <p><%=data.desc%></p>                    
                <%})%>
            <%}%>
        <%})%>
        <%}%>
    
</body>
</html>