<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createpost" method="POST" enctype="multipart/form-data">
      Title:<input type="text" name="title"/><br/><br/>
      Picture:<input type="file"name="pic"/><br/><br/>
      Blog: <textarea rows="10" column="300" style="width:60%;height:20%" name="blog">
        </textarea><br/><br/>
        <button type="submit">Create blog</button>
    </form>
</body>
</html>